body{
    margin: 0px;
    padding: 0px;
}
.header-container{
    /* background-image: url('images/banner/banner1.png'); */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
}
.header-container img{
    width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-text-style{
    align-items: right;
    width: 50%;
}
.banner-text-style h1{
    text-align: right;
    width: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}
.banner-text-style p{
    text-align: right;
    width: 50%;
    font-family: 'Oswald', sans-serif;
}

.banner-button-style{
    display: flex;
    justify-content: right;
    width: 50%;
}
.banner-button-style>button{
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
}
.previous-year-main{
    display: flex;
    justify-content: center;
}
.previous-year-text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous-year-text-child{
    margin-left: 50px;
}
.previous-year-text h1{
    font-family: 'Oswald', sans-serif;
    margin: -5px;
    font-size: 40px;
}
.previous-year-text p{
    width: 50%;
    font-family: 'Oswald', sans-serif;
}
.previous-year-text ul{
    
}
.previous-year-text li{
    list-style-type: none;
    margin: 5px 0px;
    font-family: 'Oswald', sans-serif;

}
.previous-year-text ul>li>img{
    width: 15px;
    
}
.plans{
    margin: 70px 150px;
}
.plans h1,h3{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.plans p{
    color: darkgray;
    text-align: center;
    font-size: large;
}
.plans-icons{
    display: flex;
    justify-content: space-around;
}
.mindset{
    width: auto;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    margin: 20px 200px;
}
.mindset img{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(226, 176, 176, 0.034));}
.mindset-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mindset-text>div>h1{
    font-size: 50px;    
    width: 80%;
    margin-left: 50px;
    color: #FFFFFF;
}
.mindset-text>div>button{
    margin-left: 50px;
    padding: 25px 40px;   
    color: #F15B22;
    font-size: large;
    border-radius: 3px;
    border: none;
}
.grediant-img{
    position: absolute;
  top: 0px;
  left: 0px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main{
    display: flex;
    margin: 20px 200px;
}
.footer-text>h1{
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
}
.footer-text>p{
    width: 50%;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    margin: 30px 0;
}
.footer-subscribe>h3{
    color: #FFFFFF;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}
.footer-subscribe>input{
    padding: 16px 32px;
    border: 2px solid darkgray;
    border-radius: 4px;
    margin: 10px 0px;
}
.subscribe-btn{
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: #F15B22;
}
.footer-icon>img{
    margin: 5px 10px;
}