body{
    margin: 0px;
    padding: 0px;
}
.header-container{
    /* background-image: url('images/banner/banner1.png'); */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
}
.header-container img{
    width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-text-style{
    align-items: right;
    width: 50%;
}
.banner-text-style h1{
    text-align: right;
    width: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}
.banner-text-style p{
    text-align: right;
    width: 50%;
    font-family: 'Oswald', sans-serif;
}

.banner-button-style{
    display: flex;
    justify-content: right;
    width: 50%;
}
.banner-button-style button{
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
}
.previous-year-main{
    display: flex;
    justify-content: center;
}
.previous-year-text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous-year-text-child{
    margin-left: 50px;
}
.previous-year-text h1{
    font-family: 'Oswald', sans-serif;
    margin: -5px;
    font-size: 40px;
}
.previous-year-text p{
    width: 50%;
    font-family: 'Oswald', sans-serif;
}
.previous-year-text ul{
    
}
.previous-year-text li{
    list-style-type: none;
    margin: 5px 0px;
    font-family: 'Oswald', sans-serif;

}
.previous-year-text ul>li>img{
    width: 15px;
    
}